body {
  font-family: sans-serif;
  font-size: 11pt;
  position: relative;
  max-width: 650px;
  margin: 0px auto;
  padding: 10px;
  text-align: justify;
}

pre {
  font-size: 10pt;
}

header {
  overflow: hidden;
  padding-top: 16px;
  padding-bottom: 16px;
}

header > * {
  display: inline-block;
}

#title {
  text-decoration: none;
  background-color: inherit;
}

#navbar {
  float: right;
  font-weight: bold;
}

#navbar > * {
  margin-left: 8px;
}

#navbar > *:first-child {
  margin-left: 0px;
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  color: black;
  text-decoration: underline;
  background-color: #ddd;
}

footer {
  margin-top: 32px;
  font-size: 8pt;
  color: #777;
  text-align: right;
}

.item {
  padding-bottom: 4px;
}

.date {
  float: right;
  color: #777;
}

img {
  max-width: 100%;
}

.center {
  display: block;
  margin: 0 auto;
}

